<main (click)="reset()">
  <a
    class="item"
    [class.active]="anim === currentAnimation"
    *ngFor="let anim of animations"
    [href]="'#' + anim.id"
    (click)="$event.stopPropagation()"
  >
    <img [src]="anim.preview" [alt]="anim.title + ' preview'" />
    <p>
      <span>{{ anim.title }}</span
      ><br />
      <small>by {{ anim.author }}</small>
    </p>
  </a>
</main>
<div class="details" [class.hidden]="currentAnimation === undefined">
  <div class="details-host">
    <ng-template [ngIf]="currentAnimation">
      <iframe [src]="currentUrl | safe: 'resourceurl'"></iframe>
      <h3>{{ currentAnimation.title }}</h3>
      <span>by {{ currentAnimation.author }}</span>
      <ng-container *ngFor="let setting of currentAnimation.settings">
        <ng-container [ngSwitch]="setting.type">
          <div *ngSwitchCase="'number'">
            <label [attr.for]="'rng_' + setting.symbol">{{
              setting.label
            }}</label>
            <input
              [class.color]="setting.symbol === 'hue'"
              [attr.id]="'rng_' + setting.symbol"
              [min]="setting.min"
              [max]="setting.max"
              [(ngModel)]="setting.value"
              (ngModelChange)="updateUrl()"
              type="range"
            />
          </div>
          <div class="checkbox" *ngSwitchCase="'boolean'">
            <input
              [attr.id]="'chk_' + setting.symbol"
              [(ngModel)]="setting.value"
              (ngModelChange)="updateUrl()"
              type="checkbox"
            />
            <label [attr.for]="'chk_' + setting.symbol">{{
              setting.label
            }}</label>
          </div>
        </ng-container>
      </ng-container>
      <a class="button primary" [href]="currentUrl" target="_new">Open</a>
    </ng-template>
  </div>
</div>
